.navbar {
  padding-top: 2rem;   /* 預設大約是 0.5rem，可依需要加大 */
  padding-bottom: 2rem;
}

html {
    scroll-padding-top: 107.59px; 
}

.navbar-dark .navbar-brand {
    color: #b68eff;
    font-size: 1.4rem; 
    font-weight: 700; 
}


.hero-section {
      background: rgba(255, 255, 255, 0.76);
      color: black;
    }

.btn-purple {
  background-color: #6f42c1;
  color: white;
}

.btn-purple:hover {
  background-color: #5a32a3;
  color: white;
}



.navbar-dark .navbar-nav .nav-link:not(.btn) {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:not(.btn):hover {
  color: #b68eff;
}