.card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.12);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    

.hero-section .display-4 {
        font-weight: 700;
}

body {
    font-family: '微軟正黑體', sans-serif;
}


html {
    scroll-padding-top: 107.59px; 
}

.navbar-dark .navbar-brand {
    color: #b68eff;
    font-size: 1.4rem; 
    font-weight: 700; 
}


.hero-section {
      background: rgba(255, 255, 255, 0.76);
      color: black;
    }

.btn-purple {
  background-color: #6f42c1;
  color: white;
}

.btn-purple:hover {
  background-color: #5a32a3;
  color: white;
}

.btn-outline-secondary:hover{
  background-color: #5a32a3;
  color: white;
}



.navbar-dark .navbar-nav .nav-link:not(.btn) {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:not(.btn):hover {
  color: #b68eff;
}

.text-purple {
    color: #6f42c1;
}

.card-clickable {
    cursor: pointer; 
}


/* 回到頂端按鈕 */
#btnBackToTop {
    position: fixed;
    bottom: 300px;
    right: 25px;
    display: none;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.bg-darkblue{
  background-color: rgb(52, 56, 59);
  color: white;
}

/* 所有表單顏色 */
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.25);
    border-color: #8a6bc9; 
}

/*下拉式選單*/
.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.25);
    border-color: #8a6bc9; 
}

/* 隱私條款框框顏色 */
.form-check-input:checked {
    background-color: #6f42c1;
    border-color: #6f42c1;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.25);
    border-color: #8a6bc9; 
}