.navbar {
  padding-top: 2rem;   /* 預設大約是 0.5rem，可依需要加大 */
  padding-bottom: 2rem;
}


.btn-purple {
  background-color: #6f42c1;
  color: white;
}

.btn-purple:hover {
  background-color: #5a32a3;
  color: white;
}